// Sass Variables

$color-primary: #333333;
$color-secondary: #F38D6E;
$color-heading: #A3A653;
$color-body: #949494;
$color-white: #ffffff;

$font-heading: 'Nunito Sans', sans-serif;

$font-body: 'Nunito Sans', sans-serif;

$body-font-size: 18px;